vrf instance {{ env_info['mgmt']['vrf'] }}
!
hostname {{ device_name }}
!
interface {{ device_type_info['hardware_models'][device_info['cvp_info']['modelName']]['mgmt_interface'] }}
 vrf {{ env_info['mgmt']['vrf'] }}
 ip address {{ device_ip }}/{{ env_info['mgmt']['cidr'] }}
!
ip route vrf {{ env_info['mgmt']['vrf'] }} 0/0 {{ env_info['mgmt']['gateway'] }}