hostname {{ device_info['fqdn'] }}
!
!MLAG Configuration
vlan {{ env_info['mlag']['vlan'] }}
 name MLAGPEER
 trunk group MLAGPEER
!
no spanning-tree vlan-id {{ env_info['mlag']['vlan'] }}
!
interface vlan {{ env_info['mlag']['vlan'] }}
 description MLAGPEER
{% if device_info['fqdn'][-1:] == '1' or device_info['fqdn'][-1:] == 'a'%}
 ip address {{ env_info['mlag']['odd_side_ip'] }}/{{ env_info['mlag']['cidr'] }}
{% elif device_info['fqdn'][-1:] == '2' or  device_info['fqdn'][-1:] == 'b'%}
 ip address {{ env_info['mlag']['even_side_ip'] }}
{% else %}
 ERROR: UNABLE TO DETERMINE ODD/EVEN FOR IP
{% endif %}
!
{% for interface in device_type_info['hardware_model'][device_info['modelName']]['mlag_interfaces'] %}
interface {{ interface }}
 description MLAGPEER
 channel-group {{ env_info['mlag']['port_channel'] }} mode active
{% endfor %}
!
interface port-channel {{ env_info['mlag']['port_channel'] }}
 description MLAGPEER
 switchport mode trunk
 switchport trunk group MLAGPEER
!
mlag Configuration
 domain-id {{ device_info['parentContainer'] }}
 local-interface vlan{{ env_info['mlag']['vlan'] }}
 peer-link port-channel{{ env_info['mlag']['port_channel'] }}
{% if device_info['fqdn'][-1:] == '1' or device_info['fqdn'][-1:] == 'a'%}
 peer-address {{ env_info['mlag']['even_side_ip'] }}
{% elif device_info['fqdn'][-1:] == '2' or  device_info['fqdn'][-1:] == 'b'%}
 peer-address {{ env_info['mlag']['odd_side_ip'] }}
{% else %}
 ERROR: UNABLE TO DETERMINE ODD/EVEN FOR IP
{% endif %}
!
!L2 VLAN Configuration
{% for vlan,info in vlan_info['vlans'].items() %}
vlan {{ vlan }}
 name {{ info['name'] }}
!
{% endfor %}
!L3 Vlan Configuration
{% for vlan,info in vlan_info['vlans'].items() %}
{% if info['svi'] %}
interface vlan{{ vlan }}
 description {{ info['name'] }}
 mtu 9214
{% if device_info['fqdn'][-1:] == '1' or device_info['fqdn'][-1:] == 'a'%}
 ip address {{ info['svi']['spine1_ip'] }}/{{ info['svi']['cidr'] }}
{% elif device_info['fqdn'][-1:] == '2' or device_info['fqdn'][-1:] == 'b'%}
 ip address {{ info['svi']['spine2_ip'] }}/{{ info['svi']['cidr'] }}
{% else %}
 ERROR: UNABLE TO DETERMINE ODD/EVEN FOR IP
{% endif %}
 ip virtual-router address {{ info['svi']['vip']}}
{% if info['svi']['acl'] and info['svi']['acl_direction'] %}
 ip access-group {{ info['svi']['acl'] }} {{ info['svi']['acl_direction'] }}
{% elif info['svi']['acl'] and not info['svi']['acl_direction'] %}
 ERROR: NO DIRECTION ON ACL
{% endif %}
{% if info['svi']['enabled'] == False %}
 shutdown
{% endif %}
{% endif %}
!
{% endfor %}
