hostname {{ device_info['fqdn'] }}
!
!MLAG Configuration
vlan {{ env_info['mlag']['vlan'] }}
 name MLAGPEER
 trunk group MLAGPEER
!
no spanning-tree vlan-id {{ env_info['mlag']['vlan'] }}
!
{% for interface in device_type_info['hardware_model'][device%}}